@media  screen and (max-width: 420px)and(min-width:0px){
    *{
        padding: 0%;
        margin: 0%;
    }
    body{
        background-color: black;
    }
    .header{
    width: auto;
    height: 100px;
    }
    a{
        text-decoration: none;
    }
    .menu{
        display: flex;
        flex-wrap: wrap;
    }
    .img-logo{
        height: 35px;
        margin-left: 10px;
        margin-top: 5px;
    }
    .prof{
        margin: 0px 0px 0px 0px;
    }
    .butt-prof{
    background-color: transparent;
    }
    .img-prof{
    width: 18px;
    height: 18px;
    margin: 40px 0px 0px 0px;
    }
    .img-prof2{
        width: 20px;
        height: 20px;
        margin: 0px 0px 0px 7px;
    }
    .img-prof3{
        width: 18px;
        height: 20px;
        margin: 0px 0px 0px 6px;
    }
    .li-menu{
        display: flex;
        flex-wrap: wrap;
        width: 250px;
        margin: 0px 0px 0px -75px;
    }
    .ul-m{
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
    }
    .active{
        color: #ffffff;
        margin: 42px 0px 0px 15px;
        font-weight: 800;
        font-size: 12px;
        font-family: "Mulish", cursive;
        opacity: 100%;
        border-bottom: 1px solid transparent;
        height: 30px;
        background:linear-gradient(black,black) padding-box, linear-gradient(to right,#26FFF2  0%, #326CFF 100%) border-box;
    }
    .li-m{
        color: white;
        margin: 42px 0px 0px 15px;
        font-weight: 800;
        font-size: 12px;
        font-family: "Mulish", cursive;
        opacity: 50%;
        transition: 0.5s;
    }
    .li-m:hover{
        opacity: 70%;
        border-bottom: 1px solid transparent;
        height: 30px;
        background:linear-gradient(black,black) padding-box, linear-gradient(to right,#26FFF2  0%, #326CFF 100%) border-box;
    
    }
    .film{
        height: 720px;
        width: auto;
        display: block;
        border-bottom: 1px solid #2F2E2E;
    }
    .info{
        width: 340px;
        height: 466px;
        display: block;
        margin: 0px 0px 0px 10px;
        filter: drop-shadow(200px 0px 100px #000000);
        background-color: #010101;
    }
    .reyt{
        display: flex;
        flex-wrap: wrap;
        margin: 0px 0px 0px 0px;
    }
    .h1-name{
        width: 300px;
        font-family: "Marcellus", cursive;
        font-weight: 400;
        font-size: 22px;
        line-height: 70px;
        color: white; 
        margin-top: 17px;
    }
    .years{
        font-family: "Mulish", cursive;
        font-weight: 800px;
        font-size: 16px;
        line-height: 10px;
        color: white; 
        margin: 7px 19px 0px 0px;
    }
    .time{
        margin: 7px 8px 0px 0px;
    }
    .old{
        color: white;
        border: 1.5px solid transparent;
        background:linear-gradient(black,black) padding-box, linear-gradient(to right,#26FFF2  0%, #326CFF 100%) border-box;
        border-radius: 50px;
        width: 60px;
        height: 24px;
        margin: 0px 19px 0px 0px;
        
    }
    .p-txt{
        font-family: "Mulish", cursive;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color:#C2C2C2;
        margin: 18px 0px 15px 0px; 
    }
    .butt-watch{
       background: linear-gradient(to right,#26FFF2  0%, #326CFF 100%);
       width: 141px;
       height: 50px;
       border-radius: 100px;
       color: white;
       font-family: "Mulish", cursive;
       font-size: 16px;
       font-weight: 800;
       margin: 0px 35px 15px 0px;
    
       cursor: pointer;
    }
    .butt-watch:hover{
        filter: drop-shadow(0px 0px 4px rgba(50, 108, 255, 0.5));
    }
    .butt-inf{
        background: white;
       width: 195px;
       height: 50px;
       border-radius: 100px;
       color: black;
       font-family: "Mulish", cursive;
       font-size: 16px;
       font-weight: 800;
       cursor:pointer;
    }
    .watch-img{
        margin: 0px 10px 0px 0px;
        width: 14px;
        height: 14px;
    }
    .img-film{
    margin: 0px 0px 0px 0px;
    }
    .films{
    width: 350px;
    height: 251px;
    }
    .tv-section{
        width: 350px;
        height: 384px;
        margin: 754px 0px 0px 2px;
    }
    .grad{
        width: 35px;
        height: 8px;
        border-radius: 50px;
        background: linear-gradient(to right,#26FFF2  0%, #326CFF 100%) border-box;
        rotate: 90deg;
        margin: 15px 0px 0px 0px;
    }
    .h1-tv{
        font-family: "Mulish", cursive;
        color: white;
        font-weight: 700;
        font-size: 28px;
    }
    .h1-tv:hover{
        text-decoration:underline;
    }
    .tv{
        margin: 30px 0px 43px 15px;
        height: 500px;
        display: flex;
        flex-wrap:wrap;
    }
    .tv-block{
        width: 206px;
        height: 319px;
        border-radius: 20px;
        background-color: transparent;
        background: transparent;
        margin: 0px 33px 0px 60px;
    
    }
    .tv-block:hover{
        width: 206px;
        height: 319px;
        border-radius: 20px;
        background-color: transparent;
        background: transparent;
        margin: 0px 33px 0px 60px;
        filter: drop-shadow(0px 0px 4px #26FFF2);
    }
    .tv-img{
        border-radius: 20px;
        width: 200px;
        height: 290px;
    }
    .trending{
        width: 350px;
        height: 384px;
        margin: 1609px 0px 0px 2px; 
    }
    .genras{
        width: 350px;
        height: 384px;
        margin: 1730px 0px 0px 2px;  
    }
    .g-butt{
        margin: 1390px 0px 0px 30px;
    }
    .ganras-block{
        margin: 50px 0px 0px 0px;
        display: flex;
        flex-wrap: wrap;
        width: 330px;
        height: 805px;
    }
    .g-block{
        width: 294px;
        height: 170px;
        border-radius: 20px;
        margin: 0px 113px 0px 28px;
    }
    .romance{
        background: linear-gradient(to right,#FD093F  0%, #F383F1 100%) border-box;
    }
    .drama{
        background: linear-gradient(to right,#0FFFDA  0%, #3CDB77 100%) border-box;
    }
    .historical{
        background: linear-gradient(to right,#B936FF  0%, #57DEDA 100%) border-box;
    }
    .action{
        background: linear-gradient(to right,#FD093F  0%,#FD093F 0.01%, #FCCB1A 100%) border-box;
    }
    .sci-fi{
        background: linear-gradient(to right,#FF6472  0%, #FDA75D 100%) border-box;
    }
    .horror{
        background: linear-gradient(to right,#13547A  0%, #80D0C7 100%) border-box;
    }
    .comedy{
        background: linear-gradient(to right,#FFF77B  0%, #FFBF42 100%) border-box;
    }
    .documentary{
        background: linear-gradient(to right,#1FA2FF  0%,#1FA2FF 0.01%, #1F535C 100%) border-box;
    }
    .g-img-romance{
    margin: 25px 0px 0px 100px;
    }
    .g-img-drama{
        margin: 35px 0px 0px 100px;
        }
        .g-img-historical{
            margin: 30px 0px 0px 100px;
            }
            .g-img-action{
                margin: 25px 0px 0px 100px;
                }
                .g-img-sci-fi{
                    margin: 13px 0px 0px 90px;
                    }
                    .g-img-horror{
                        margin: 25px 0px 0px 105px;
                        }
                        .g-img-comedy{
                            margin:25px 0px 0px 100px;
                            }
                            .g-img-documentary{
                                margin: 25px 0px 0px 100px;
                                }
    .g-h1{
        font-family: "Mulish", cursive;
        font-weight: 700;
        font-size: 28px;
        color: white;  
    }
    .h1-romance{
        margin: 0px 0px 0px 80px;
        }
        .h1-drama{
            margin: 0px 0px 0px 95px;
            }
            .h1-historical{
                margin: 0px 0px 0px 75px;
                }
                .h1-action{
                    margin: 0px 0px 0px 95px;
                    }
                    .h1-sci-fi{
                        margin: -25px 0px 0px 104px;
                        }
                        .h1-horror{
                            margin: 0px 0px 0px 100px;
                            }
                            .h1-comedy{
                                margin: 0px 0px 0px 85px;
                                }
                                .h1-documentary{
                                    margin: 0px 0px 0px 57px;
                                    }
    .a-g{
        width: 294px;
        height: 170px;
        margin: 0px 20px 0px 0px;
    }
    .g-two{
        margin: 0px 0px 0px 0px;
    }
    .actors{
        width: 340px;
        height: 678px;
        margin: 1334px 0px 0px 10px;
    }
    .actor{
        margin: 45px 0px 0px 0px;
        display: flex;
        flex-wrap: wrap;
        width: 350px;
    }
    .a-a{
        width: 133px;
        height: 125px;
        margin: 0px 20px 80px 0px; 
    }
    .actors-block{
        width: 133px;
        height: 260px;
        margin: 0px 0px 0px 15px;
    }
    .img-actor{
        width: 133px;
        height: 125px;
        border-radius: 100%;
    }
    .name-actor{
        font-family: "Mulish", cursive;
        font-weight: 700;
        font-size: 18px;
        line-height: 20px;
        color: white;
        text-align: center;
        margin: 17px 0px 0px 0px;
    }
    .coming{
            width: 350px;
            height: 185px;
            margin: 75px 0px 0px 0px;
    }
    .coming-block{
    width: 350px;
    height: 135px;
    background: linear-gradient(to right,#0D1A73  29.09%, #000000 70.41%) border-box;
    border-radius: 20px;
    margin: 0px 0px 0px 4px;
    filter: drop-shadow(0px 0px 30px rgba(255, 255, 255, 0.1));
    display: flex;
    flex-wrap: wrap;
    }
    .img-buck{
        width: 185px;
        height: 135px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    .img-2021{
    margin: 10px 0px 0px 4px;
    width: 150px;
    height: 70px;
    }
    .h1-2021{
        font-family: "Mulish", cursive;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        color: white;
        margin: 11px 0px 0px 11px;
    }
    .registred{
        width: 350px;
        height: 384px;
        margin: 30px 0px 0px 0px;
    }
    .reg{
        width: 350px;
        height: 270px;
        border-radius: 20px;
        display: flex;
        flex-wrap: wrap;
        margin: 0px 0px 0px 4px;
    }
    .reg::after{
        content: '';
        background-image: url("r1.png");
        opacity: 50%;
        position: absolute;
        width: 350px;
        height: 150px;
        z-index: -1;
        border-radius: 20px;
    }
    .h1-reg{
        width: 168px;
        height: 128px;
        font-family: "Mulish", cursive;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        color: white;
        opacity: 100%;
        margin: 40px 0px 0px 17px;
    }
    .butt-reg{
        margin: 50px 0px 0px 7px;
    }
    .footer{
        width: auto;
        height: 640px;
        background-color: #101012;
        display: block;
    }
    .logo-footer{
        margin: 20px 0px 0px 10px;
    }
    .logo{
        height: 70px;
    }
    .footer-menu{
        display: flex;
        flex-wrap: wrap;
    }
    .block-footer{
        width: 210px;
        height: 140px;
        margin: 0px 0px 0px 40px;
    }
    .h-foot{
        font-family: "Mulish", cursive;
        font-weight: 600;
        font-size: 18px;
        line-height: 20px;
        color: #C2C2C2;
        margin: 0px 0px 20px 0px;
    }
    .h-foot:hover{
        color: white;
    }
    }